<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="refresh" content="5;URL=/callback" />
  <%- include(headerPath, {
    bot, user, path,
    description: 'Login is required to View the following page boiii!',
    description2: 'Login is required to View the following page boiii!',
    title: 'Tox Mod | Login',
    main_title: 'Tox Mod | Login',
    image: 'none', 
    }) 
  %>
</head>
<body>
    <%- include('../parts/navbar', { bot, user }) %>
    <div class="bigthingy row">
    <div class="seeme col-md-8 offset-md-2 row">
      <div class="seeme col-sm-2 sinfo">
        <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-exclamation-circle"></i></p>
      </div>
      <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">308 - Redirecting in Progress!!</span>
      </div>
    </div>
    </div>
    <br /><br /><br /><br /><br /><br />
  
    <center>
       <h2 style="color: white;">You're being redirected to our Discord oAuth Page.</h2>
       <br />
       <p style="color: white;">This process is automatic. If nothing happens or the redirect hangs please follow <a href="/callback">This Link</a></p>
    </center>
  
  </body>
</html>
