<html>
<head>
  <link rel="stylesheet" href="/styling/main/custom-style.css">
  <%- include(headerPath, {
    bot, user, path, config,
    title: 'Infinity Server List | Privacy Policy',
    main_title: 'Infinity Server List | Home',
    description: 'The future of Discord Server Listing, We make it easier for you to Advertise and Grow your Community.',
    description2: 'The future of Discord Server Listing, We make it easier for you to Advertise and Grow your Community.',
    image: 'none',
  }) %>
</head>

<body>
  <%- include(navbarPath, { bot, user, path }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-user-secret"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Privacy Policy</span><br />Legal Mumbo-Jumbo</p>
    </div>
  </div>
  </div>

  <br />  <br />  <br />


  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-server"></i>&nbsp;Collected Data</p>
          </div>
          <div class="card mb-8" style="width: 100%">
            <div class="card-body">
              <p style="text-align: left;">
                Tox Mod uses Discord for authentication in place of having our own accounts as well as offering Discord Users with a moderation service. 
                Because of this we store information about your Discord account and any guild that you and or the bot are a member of in our secure databases.
                <br /> 
                <strong>This information includes:</strong>
                <br>• Your Discord User ID.
                <br>• Your Discord Username.
                <br>• Your Discord Avatar.
                <br>• Discord Guild ID and Prefix.
                <br>• Discord. Channel(s) chosen by the user.
                <br>• Discord Role(s) chosen by the user.
                <br>
                For users with no created content this data will be deleted after a few days of inactivity.
              <p>
            </div>
          </div>
          <br /><br />
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-trash"></i>&nbsp;Data Removal</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                • Users can request their data to be removed by contacting our <a href="/discord">Staff Team</a>. Additionally a user can request their collected data (username etc) to be deleted in their profile.
              <p>
            </div>
          </div>
          <br /><br />
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-exclamation-circle"></i>&nbsp;User Data</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                We collect little to no Discord User Data just what servers you are in, avatar, username & id but once you sign out it is deleted as it is stored publicly via cookies!
              <p>
            </div>
          </div>
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-exclamation-circle"></i>&nbsp;User Terms</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                <strong>By inviting the bot you agree to be bound to the following terms:</strong>
                <br> 1. Allowing Tox Mod to collect and store your:
                <br>  • Discord User ID
                <br>  • Discord Username 
                <br>  • Discord User Avatar
                <br>  • FiveM Server IP:PORT
                <br>  • Discord Server ID & Bot Prefix.
                <br>  • Collect a list of the users guilds.
                <br>2. Abuse of the bots services will result in a blacklist.
              <p>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
<%- include(footerPath, { bot, user, path }) %>
</html>

