<html>
<head>
  <%- include(headerPath, {
    bot, user, path, config,
    title: 'Infinity Server List | Privacy Policy',
    main_title: 'Infinity Server List | Home',
    description: 'The future of Discord Server Listing, We make it easier for you to Advertise and Grow your Community.',
    description2: 'The future of Discord Server Listing, We make it easier for you to Advertise and Grow your Community.',
    image: 'none',
  }) %>
</head>
<body>
  <%- include(navbarPath, { bot, user, path }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-user-secret"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Privacy Policy</span><br />Legal Mumbo-Jumbo</p>
    </div>
  </div>
  </div>
  <br />  <br />  <br />
  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left; color: black">
      The following privacy policy outlines how your data is used on our website. The site administration has the right to change this privacy policy at any point without warning.<br /><br />
      <strong>Data</strong><br/>
      Basic non-identifiable information about your user on the website is collected; the majority of which is provided during first-time login, such as email addresses and usernames.<br />
      In addition to this, IP addresses for registered users are stored within the system to aid with moderation duties. This includes spam prevention, and detecting alternative accounts.<br /><br />
      <em style="color: #444444 !important;">Account data can be deleted by a site administrator upon request, which will remove all data relating to your user from our system.</em><br /><br />
      <strong>Cookies</strong><br />
      Cookies are used to store small pieces of non-identifiable information with your consent. In order to consent to the use of cookies, by using our website you consent to the use of cookies.<br />
      Data stored by cookies include Discord IDs, Discord discriminator, Discord avatar, along with a unique token, and a unidentifiable hash.<br /><br />
      <strong>Arc</strong><br />
      <em style="color: #444444 !important;">VoidList.xyz is faster with Arc.</em> Arc loads content from people's devices near you instead of from slower servers. In return, it helps your device provide content to others.<br />
      <em style="color: #444444 !important;">Arc lets VoidList.xyz earn money with less ads.</em> Just by being here, you share a little bandwidth for VoidList.xyz and help create a faster Internet with fewer ads.<br />
      <em style="color: #444444 !important;">You're safe and in control.</em> Arc doesn't impact your data or performance, and you can opt out any time.<br />
      <a target="_blank" href="https://arc.io/#whatArcDoes">Learn more about Arc here!</a><br /><!--<br />
      <strong>Ads</strong><br />
      Void Bots uses Google Adsense ads to make money to pay our bills. Learn more <a href="https://adssettings.google.com/whythisad" target="_blank">here</a>.--></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
