<html>
<head>
  <link rel="stylesheet" href="/styling/main/custom-style.css">
  <%- include(headerPath, {
    bot, user, path, config,
    title: 'Tox Mod | Privacy Policy',
    main_title: 'Tox Mod | Privacy Policy',
    description: 'View the Tox Mod Legal MumboJumbo.',
    description2: 'View the Tox Mod Legal MumboJumbo.',
    image: 'none',
  }) %>
</head>

<body>
  <%- include(navbarPath, { bot, user, path }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-user-secret"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
      <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Privacy Policy</span><br />Legal Mumbo-Jumbo</p>
    </div>
  </div>
  </div>

  <br />  <br />  <br />


  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-server"></i>&nbsp;Collected Data</p>
          </div>
          <div class="card mb-8" style="width: 100%">
            <div class="card-body">
              <p style="text-align: left;">
                Tox Mod uses Discord for authentication in place of having our own accounts as well as offering Discord Users with a moderation service. 
                Because of this we store information about your Discord account and any guild that you and or the bot are a member of in our secure databases.
                <br /><br />
                <strong>This information includes:</strong>
                <br>• Your Discord User ID.
                <br>• Your Discord Username.
                <br>• Your Discord Avatar.
                <br>• Discord Guild ID and Prefix.
                <br>• Discord. Channel(s) chosen by the user.
                <br>• Discord Role(s) chosen by the user.
                <br>• List of Infractions that a User Recieves
                <br>• Server ID where the Infraction was Carried Out
                <br /><br />
                For users with no created content this data will be deleted after a few days of inactivity.
              <p>
            </div>
          </div>
          <br /><br />
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-trash"></i>&nbsp;Data Removal</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                • Users can request their data to be removed by contacting our <a href="/discord">Staff Team</a>. Additionally a user can request their collected data (username etc) to be deleted in their profile.
              <p>
            </div>
          </div>
          <br /><br />
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-exclamation-circle"></i>&nbsp;User Data</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                We collect a specific list of information for Servers and Users!
                <br /><br />
                This info can include:
                <br>• Server ID
                <br>• User ID
                <br>• User Badges
                <br>• User Social Links
                <br>• User Avatar
                <br>• User and Server Infractions
                <br /><br />
                <strong>NOTE:</strong> Tox Mod and its Staff Team/Developers will never Ask For, Fetch, Store or Require your Email Address
              <p>
            </div>
          </div>
          <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-exclamation-circle"></i>&nbsp;User Terms</p>
          </div>
          <div class="card mb-8">
            <div class="card-body">
              <p style="text-align: left;">
                <strong>By inviting the bot you agree to be bound to the following terms:</strong>
                <br><br> 
                1. Allowing Tox Mod to collect and store your:
                <br>• Server ID
                <br>• User ID
                <br>• User Badges
                <br>• User Social Links
                <br>• User Avatar
                <br>• User and Server Infractions
                <br><br>
                <br>2. Abuse of the Tox Mod Bot, Website or API will result in a Blacklist and/or Ban.
              <p>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

<%- include(footerPath, { bot, user, path }) %>
</html>

