<html>
<head>
    <%- include(headerPath, {
        bot, user, path,
        description: 'The Discord Bot with a little bit of Attitude!',
        description2: 'The Discord Bot with a little bit of Attitude!',
        title: 'Tox Mod | 403 - Forbidden',
        main_title: 'Tox Mod | 403 - Forbidden',
        image: 'none',
        }) 
      %>
</head>
<body>
  <%- include('../parts/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-exclamation-circle"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
        <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Whoops, You fucked up chief!!</span></p>
    </div>
  </div>
  </div>
  <br /><br /><br /><br /><br /><br />

  <center>
     <h2 style="color: white;">You have been Banned or Flagged!</h2>
     <br />
     <p style="color: white;"> Please contact my <a href="mailto:toxic.dev09@gmail.com">Developer</a> for assistance with this issue.</p>
  </center>

</body>
</html>