<html>
<head>
    <%- include(headerPath, {
        bot, user, path,
        description: 'The Discord Bot with a little bit of Attitude!',
        description2: 'The Discord Bot with a little bit of Attitude!',
        title: 'Tox Mod | 404 - Not Found',
        main_title: 'Tox Mod | 404 - Not Found',
        image: 'none',
        }) 
      %>
</head>
<body>
  <%- include('../parts/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-exclamation-circle"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
        <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">404 - Page Not Found</span></p>
    </div>
  </div>
  </div>
  <br /><br /><br /><br /><br /><br />

  <center>
     <h2 style="color: white;">Hmm, Try that again chief!</h2>
     <br />
     <p style="color: white;"> Whatever you're doing, you're doing it wrong, You should probably go home kid. Cause you clearly don't know what you're looking for.</p>
  </center>

</body>
</html>
