<html>
<head>
    <%- include(headerPath, {
        bot, user, path,
        description: 'The Discord Bot with a little bit of Attitude!',
        description2: 'The Discord Bot with a little bit of Attitude!',
        title: 'Tox Mod | 500 - Internal Server Error',
        main_title: 'Tox Mod | 500 - Internal Server Error',
        image: 'none',
        }) 
      %>
</head>
<body>
    <%- include('../parts/navbar', { bot, user }) %>
    <div class="bigthingy row">
    <div class="seeme col-md-8 offset-md-2 row">
      <div class="seeme col-sm-2 sinfo">
        <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-exclamation-circle"></i></p>
      </div>
      <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">500 - Internal Server Error</span>
      </div>
    </div>
    </div>
    <br /><br /><br /><br /><br /><br />
  
    <center>
       <h2 style="color: white;">Whoops, Someone f***ed up!</h2>
       <br />
       <p style="color: white;"> You should probably report this to my Dev Team.</p>
    </center>
  
  </body>
</html>
