<html>
<head>
    <%- include(headerPath, {
        bot, user, path,
        description: 'Woah, Someone thinks im cool!',
        description2: 'Woah, Someone thinks im cool!',
        title: 'Tox Mod | Invite Success',
        main_title: 'Tox Mod | Invite Success',
        image: 'none',
        }) 
      %>
</head>
<body>
  <%- include('../parts/navbar', { bot, user }) %>
  <div class="bigthingy row">
  <div class="seeme col-md-8 offset-md-2 row">
    <div class="seeme col-sm-2 sinfo">
      <p id="bigytxt" class="bigyimg" style="font-size:88px;"><i class="fas fa-exclamation-circle"></i></p>
    </div>
    <div class="seeme col-sm-10 sinfo">
        <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Hey, Thank You ❤️!!</span></p>
    </div>
  </div>
  </div>
  <br /><br /><br /><br /><br /><br />

  <center>
     <h2 style="color: white;">Woah, you are awesome 🔥!</h2>
     <br />
     <p style="color: white;">Thanks for the Invite. We greatly appreciate your support!</p>
     <br>
     <center><button onclick="window.location.href='/'">Go Back</button></center>
  </center>


<style>

 button {
   display: inline-block;
   font-family: Whitney, "Open Sans", Helvetica, sans-serif;
   font-weight: 400;
   font-size: 11pt;
   border-radius: 3px;
   cursor: pointer;
   height: 45px;
   width: 200px;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
   background-color: #0EFF00;
   border: 2px solid white;
   color: #fff;
 }

 </style>
</body>
</html>



